<div class="row ">
    <div class="large-2 columns">
        <a href="#"> <span> </span><img src="siteImages/Learn/Worksheets/additionAddTwo.png" class=" thumbnail"></a>
    </div>
    <div class="large-10 columns">
        <div class="row">
            <div class=" large-5 columns">
                <h5><a href="#">Addition Under Ten</a></h5>
                <p><a href="#"> Info</a> | <a href="#">Get the app</a></p>
            </div>
            <div class=" large-3 columns">
                <a target="_blank" href="https://docs.google.com/viewer?a=v&pid=sites&srcid=ZGVmYXVsdGRvbWFpbnxudW1iZXJzaGFwZXN8Z3g6MjgzMDNiNzZiYzA2YTI0Zg"  class="radius expand medium btn btn-info large-10">Open File <i class="fi-magnifying-glass"></i></a>
                <a href="http://www.number-shapes.com/activities/Kindergarten%20Addition%20SearchBook.pdf?attredirects=0&d=1"  class="radius expand medium btn btn-info large-10">Download <i class="fi-download"></i></a>
            </div>
            <div class="row">
                <div class=" large-12 columns">
                    <ul class="large-block-grid-2">
                        <li>
                            <ul>
                                <li><strong>Author: </strong><a href="mailto:andrewfenner@numbershapes.com">Andrew Fenner</a></li>
                                <li><strong>Created: </strong>2014</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <hr>
</div>