<div class="row">
    <div class="columns">
        <div class="signup-panel">
            <p class="welcome">Login with one of these services</p>
            <form>
                <a class="btn btn-block btn-social btn-facebook">
                    <i class="fa fa-facebook"></i> Sign in with Facebook
                </a>
                <a class="btn btn-block btn-social btn-google-plus">
                    <i class="fa fa-google-plus"></i> Sign in with Google
                </a>
            </form>
            <p class="welcome center">OR</p>
            <form>
                <div class="row collapse">
                    <div class="small-2 columns">
                        <span class="prefix"><i class="fi-mail"></i></span>
                    </div>
                    <div class="small-10  columns">
                        <input type="text" placeholder="email">
                    </div>
                </div>
                <div class="row collapse">
                    <div class="small-2 columns ">
                        <span class="prefix"><i class="fi-lock"></i></span>
                    </div>
                    <div class="small-10 columns ">
                        <input type="text" placeholder="password">
                    </div>
                </div>
                <a href="#" class="btn btn-primary large-4">Sign Up! </a>
                <a href="#" class="right btn btn-primary large-4">Login! </a>
            </form>
            <br>
                    <p class="right"><a href="#">Forgot password</a></p>

            
            <br>
        </div>
    </div>
</div>