<br>
<footer style="display: block;">

  <div class="row"><!------------ mobile footer -------------->
     <div class="large-12 columns show-for-small">
      <div class="large-4 columns">
        <img src="siteImages/logo.png"/>
          
          <div class="icon-group right">
            <h6>Connect</h6>   
            <a href="https://www.facebook.com/numbershapes"><i class="fi-social-facebook size-24 social-net"></i></a>
            <a href="https://plus.google.com/u/0/101803376465021213013"><i class="fi-social-google-plus size-24 social-net"></i></a>
            <a href="https://www.facebook.com/numbershapes"><i class="fi-social-tumblr size-24 social-net"></i></a>
            <a href="https://www.facebook.com/numbershapes"><i class="fi-social-twitter size-24 social-net"></i></a>
          </div>
      </div>
    </div>
  </div><!------------ ./mobile footer -------------->
  
  
    <div class="row"><!------------ mobile footer -------------->
     <div class="large-12 columns show-for-medium hide-for-small">
      <div class="four columns">
        <h6>Connect</h6>
        
        <div class="icon-group">
          <a href="https://www.facebook.com/numbershapes"><i class="fi-social-facebook size-24 social-net"></i></a>
          <a href="https://plus.google.com/u/0/101803376465021213013"><i class="fi-social-google-plus size-24 social-net"></i></a>
          <a href="https://www.facebook.com/numbershapes"><i class="fi-social-tumblr size-24 social-net"></i></a>
          <a href="https://www.facebook.com/numbershapes"><i class="fi-social-twitter size-24 social-net"></i></a>
        </div>
      </div>
      <div class="four columns">
        <h6>Contact</h6>
        <p>We're here to answer all your questions. <a href="mailto:andrewfenner@numbershapes.com">Contact us</a>.</p>
      </div>
      <div class="four columns">
        <img src="siteImages/logo.png"/>
        
        <p class="legal-info">
          Copyright 2014 NumberShapes.<br>
          <a href="#">Privacy Policy</a> | <a href="#">Terms of Service</a>
        </p>
      </div>
    </div>
  </div><!------------ ./mobile footer -------------->
  
  
  
  <div class="slim container hide-for-small hide-for-medium">
    <div class="row footer-row">
      <div class="four columns">
        <h6>Company</h6>
        <p>Not sure how something works or think it's broken? Find answers in <a href="#">help &amp; support</a></p>
      </div>
      <div class="four columns">
        <h6>Connect</h6>
        
        <div class="icon-group">
          <a href="https://www.facebook.com/numbershapes"><i class="fi-social-facebook size-24 social-net"></i></a>
          <a href="https://plus.google.com/u/0/101803376465021213013"><i class="fi-social-google-plus size-24 social-net"></i></a>
          <a href="https://www.facebook.com/numbershapes"><i class="fi-social-tumblr size-24 social-net"></i></a>
          <a href="https://www.facebook.com/numbershapes"><i class="fi-social-twitter size-24 social-net"></i></a>
        </div>
      </div>
      <div class="four columns">
        <h6>Contact</h6>
        <p>We're here to answer all your questions. <a href="mailto:andrewfenner@numbershapes.com">Contact us</a>.</p>
      </div>
      <div class="four columns">
        <img src="siteImages/logo.png"/>
        
        <p class="legal-info">
          Copyright 2014 NumberShapes.<br>
          <a href="#">Privacy Policy</a> | <a href="#">Terms of Service</a>
        </p>
      </div>
    </div>
  </div>
</footer><!-----./Footer ---->
<br><br>