<div class="top-bar platform hide-on-phones" style="height: 35px;"> <!----- sticky social topbar ------>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <ul class="nav left">
                <li><a href="/">HOME</a></li>
                <li><a href="#/app-store">
                    <span data-tooltip aria-haspopup="true" class="has-tip" title="shop for learning apps">
                    <i class="fi-shopping-cart"></i>
                    </span>
                </a></li>
                <li><a href="#/learn-math?scrollTo=worksheets">
                    <span data-tooltip aria-haspopup="true" class="has-tip" title="download worksheets">
                    <i class="fi-download"></i>
                    </span>
                </a></li>
                <li><a href="#/blog">
                    <span data-tooltip aria-haspopup="true" class="has-tip" title="find out what's new">
                    <i class="fi-rss"></i>
                    </span>
                </a></li>
                
            </ul> 
            <ul class="nav right">
                <li><a href="https://www.facebook.com/numbershapes"><i class="fi-social-facebook"></i></a></li>
                <li><a href="https://plus.google.com/u/0/101803376465021213013"><i class="fi-social-google-plus"></i></a></li>
                <li><a target="_blank" href="#"><i class="fi-social-tumblr"></i></a></li>
                <li><a target="_blank" href="#"><i class="fi-social-twitter"></i></a></li>
                <li><a href="#" data-reveal-id="loginModal">LOGIN</a></li>
            </ul> 
        </div>
    </div>
</div><!----- ./sticky social topbar ------>

<div id="loginModal" class="reveal-modal small" data-reveal>
    <a class="close-reveal-modal">&#215;</a>
    <div ng-include='"../partials/forms/login-form.html"'></div>
</div>


<div class="row content-custom">
    <div class="large-5 columns"><!---------Logo-------->
      <h1>
        <a href="/">
            <img src="siteImages/logo.png"/>
        </a>
      </h1>
    </div><!---------./Logo-------->
    <div class="large-7 columns"><!---------Site Navigation-------->
        <ul class="right button-group">
            <li><a href="#/learn-math" class="button special-button">Learn Math</a></li>
            <li><a href="#/app-store" class="button special-button">App Store</a></li>
            <li><a href="#/blog" class="button special-button">Blog</a></li>
            <li><a href="#/about" class="button special-button">About</a></li>
        </ul>
    </div><!---------./Site Navigation-------->
</div>


