<article>
    <h3>Horizontal Addition</h3>
    <h6>Written by <a href="#">Andrew Fenner</a> on September 2, 2014.</h6>
    <div class="row" style="width: 98%;">
        <div class="large-12 columns">
            <p>NumberShapes makes horizontal addition fun and easy!
            The pictures read like actual equations so that students can quickly relate
            concepts back to traditional notation.  This puts learners at ease while they
            master the basics of adding ten's, one's and even hundreds. Check out our Horizontal Addition
            and Place Value worksheets and watch how a few simple shapes can transform the way your child
            thinks about math.  </p>
            <img src="siteImages/Blog/blog_HorizontalAddition.png"/>
        </div>
    </div>
</article>
<hr>
 