<article>
    <h3>A Revolutionary Tool For Multiplication</h3>
    <h6>Written by <a href="#">Andrew Fenner</a> on August 31, 2014.</h6>
    <div class="row">
        <div class="large-8 columns">
            <p>Our FlagShip application <em>FortyNine</em> is now available in the iTunes app store. <em>FortyNine</em> gives multiplication tables a bold new look and makes the concept accessible for students at any level. Rediscover the joy of learning with your child in a way that's productive and engaging. No more frustrating worksheets or drills; <em>FortyNine</em> gets right to the point and gives students the edge they need to succeed.  </p>
            <p>You can check out the app on iTunes <a target="_blank" href="https://itunes.apple.com/us/app/fortynine/id909512755?ls=1&mt=8">here</a>.</p>
            <p>Make sure to also check out the <a href="#/learn-math?scrollTo=worksheets">Worksheet section of the website</a> for accompanying multiplication worksheet to practice multiplication on paper.</p> 
        </div>
        <div class="large-4 columns">
          <img src="siteImages/Store/promo_FortyNine.png"/>
        </div>
    </div>
</article>
<hr>
 