<article>
    <h3>Why do I need NumberShapes?</h3>
    <h6>Written by <a href="#">Andrew Fenner</a> on September 2, 2014.</h6>
        <p>NumberShapes was created with a deep respect for children's natural curiosity and the belief they should be should be rewarded for their willingness to learn. Too often young children are alienated by abstract symbols that interfere with their intuition and make them feel discouraged. NumberShapes breaks down that barrier and gives students the tools they need to initiate their own problem solving strategy. It also gives parents and teachers a gateway to understanding the developing mind and being a part of helping it grow. </p>
</article>
<hr>
 