<div class="row">
    <div class="large-6 columns">
        <img src="siteImages/About/gallery.png"><br><hr>
        <div class="row">
            <div class="large-3 small-3 columns">
                <a href="#" ><img class="size-48" src="siteImages/About/gallery_FortyNine.png"></a>
            </div>
            <div class="large-3 small-3 columns">
                <a href="#" ><img src="siteImages/About/gallery_MinusTwo.png"></a>
            </div>
            <div class="large-3 small-3 columns">
                <a href="#" ><img src="siteImages/About/gallery_AddTwo.png"></a>
            </div>
            <div class="large-3 small-3 columns">
                <a href="#" ><img src="siteImages/About/gallery_OverTen.png"></a>
            </div>
        </div>
        <hr>
    </div>
    <div class="large-6 columns">
        <h4 class="show-for-small">Mission<hr/></h4>
        <div class="panel">
            <h3 class="hide-for-small site-label">Our Mission<hr/></h3>
            <h6 class="subheader site-desc">
                NumberShapes is a bold visual intervention that breaks down the barrier between symbols and concepts while allowing students to alternate seamlessly between the two.  Instead of using "tricks" or memorization, students are rewarded for their understanding of mathematical scenarios and the only tool required to begin learning is the ability to count. Students can start at any level but more advanced learners and even adults will find that they there will always be a way to improve. 
                <br><br>
                The app series that accompanies this method allows students to work quickly and independently to build their understanding with meaningful repetition. They can quickly alternate between exercises and or slow down at any point to take a closer look at the skill they are learning. Also available are worksheets that can be used on their own or in tandem with the app so that handwritten mathematics remains part of the learning process.
                <br><br>
                We provide a set of iOS apps that utilizes the power of touchscreen technology to teach children fundamental concepts in math. The apps consists of fun and interactive games, which could be enjoyed by people of all ages. 
            </h6>
        </div>
    </div> 
</div>




<br><br>
<h3 class="site-label">Meet The Team</h3><hr>
<div class="row">
    <div class="large-5 small-left columns">
        <div class="large-6 large-left columns">
            <img class="img-rounded" src="siteImages/About/founder_Andrew.jpeg"/>
            <h5>Andrew Fenner</h5>
            <div class="row">
                <div class="small-8 columns">
                    <p class="help-block">Lead Design</p>
                </div>
                <div class="small-3 columns">
                    <a href="#"><i class="fi-social-linkedin size-24"></i></a>  
                </div>
            </div>
        </div>
        <div class="large-6 large-left columns">
            <img class="img-rounded" src="siteImages/About/founder_Xiaoyun.jpeg"/>
            <h5>Xiaoyun Yang</h5>
            <div class="row">
                <div class="small-8 columns">
                    <p class="help-block">Engineering</p>
                </div>
                <div class="small-3 columns">
                    <a href="#"><i class="fi-social-linkedin size-24"></i></a>  
                </div>
            </div>
        </div>
    </div>
</div>
            
<br>
 
<div class="row">
   <div class="large-12 columns">
   
     <div class="panel">
       <h4>Get in touch!</h4>
           
       <div class="row">
         <div class="large-9 columns">
           <p>We'd love to hear from you, you attractive person you.</p>
         </div>
         <div class="large-3 columns">
           <a href="#" class="radius btn btn-info right">Contact Us</a>
         </div>
       </div>
     </div>
     
   </div>
 </div> 

 