
<div class="row">
    <div class="large-12 columns">
        <h1 class="site-label">iPhone and iPad Games</h1>
        <hr>
    </div>
</div>


<div class="row"><!--------------------------------- Product Showcase First Row ----------------------->
  <div class="large-4 columns">
    <div class="item-wrapper">
      <div class="img-wrapper">
        <a class="button expand add-to-cart">Add to Cart</a>
        <a href="#"><img src="http://i.imgur.com/Mcw06Yt.png"></a>
      </div>  
      <a href="#"><h3>FortyNine</h3></a>
      <h5>$1.99</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin posuere sem enim, accumsan convallis risus semper.
    </div>    
  </div>
  
  <div class="large-4 columns">
    <div class="item-wrapper">
      <div class="img-wrapper">
        <a class="button expand add-to-cart">Add to Cart</a>
        <a href="#"><img src="siteImages/Store/promo_AddTwo.png"></a>
      </div>  
      <a href="#"><h3>AddTwo</h3></a>
      <h5>$1.99</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin posuere sem enim, accumsan convallis risus semper.
    </div>    
  </div>
  
    <div class="large-4 columns">
    <div class="item-wrapper">
      <div class="img-wrapper">
        <a class="button expand add-to-cart">Add to Cart</a>
        <a href="#"><img src="http://i.imgur.com/Mcw06Yt.png"></a>
      </div>  
      <a href="#"><h3>MinusTwo</h3></a>
      <h5>$1.99</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin posuere sem enim, accumsan convallis risus semper.
    </div>    
  </div>  
</div><!--------------------------------- ./Product Showcase First Row ----------------------->
<div class="row"><!--------------------------------- Product Showcase Second Row ----------------------->
  <div class="large-4 columns">
    <div class="item-wrapper">
      <div class="img-wrapper">
        <a class="button expand add-to-cart">Add to Cart</a>
        <a href="#"><img src="siteImages/Store/promo_OverTen.png"></a>
      </div>  
      <a href="#"><h3>OverTen</h3></a>
      <h5>$1.99</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin posuere sem enim, accumsan convallis risus semper.
    </div>    
  </div>
</div><!--------------------------------- ./Product Showcase Second Row ----------------------->


<div class="testimonial-wrap"><!---------------------- testimonial --------------------->
  <div class="row">
    <div class="large-12 columns centered-text">
      <h2>What these awesome people have to say!</h2>
    </div>
  </div>
  <div class="row">
    <div class="large-6 columns testimonial">
      <div class="quote">
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ultrices, elit sed faucibus pharetra, diam mauris bibendum orci, sit amet ullamcorper purus dui sit amet augue. Donec aliquet diam ut neque mattis, eu tristique sem rutrum.</p>
      </div>
      <div class="student">
        <div class="photo"> </div>
        <p>John Doe</p>
        <p>Important person, some Company</p>
      </div>
    </div>
    <div class="large-6 columns testimonial">
      <div class="quote">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ultrices, elit sed faucibus pharetra, diam mauris bibendum orci, sit amet ullamcorper purus dui sit amet augue. Donec aliquet diam ut neque mattis, eu tristique sem rutrum.  </p>
      </div>
      <div class="student">
        <div class="photo"> </div>
        <p>John Doe</p>
        <p>Important person, some Company</p>
      </div>
    </div>
  </div>
</div><!---------------------- ./testimonial --------------------->