<div class="path-container">
    <div class="row">
        <div class="large-12 columns ">
          <h1> This is a Timeline!</h1>
        </div>
    </div>
    <div class="row path-item">
        <div class="large-7 push-5 columns">
            <div class="circle circle-left "></div>
        </div>
        <div class="large-5 pull-7 columns path-text left">
            <h3>Lorem ipsum dolor sit amet, consectetur</h3>
            <p>Something that happened in the past or will happen in the future Lorem ipsum dolor sit amet, consectetur adipiscing elit.  a est. Suspendisse potenti. Sc lorem pretium, molestie</p>
          <a href="#">Show something cool Â»</a>
        </div>
    </div>
    <div class="row path-item">
        <div class="large-7 columns">
            <div class="circle circle-right right"></div>
        </div>
        <div class="large-5 columns path-text right">
            <h3>Lorem ipsum dolor sit amet, consectetur</h3>
            <p>Something that happened in the past or will happen in the future Lorem ipsum dolor sit amet, consectetur adipiscing elit.  a est. Suspendisse potenti. Sc lorem pretium, molestie</p>
            <a href="#">Show something cool Â»</a>
        </div>
    </div>
    <div class="row get-feedback path-item">
        <div class="large-7 push-5 columns">
            <div class="circle circle-left"></div>
        </div>
        <div class="large-5 pull-7 columns path-text left">
            <h3>Lorem ipsum dolor sit amet, consectetur</h3>
            <p>Something that happened in the past or will happen in the future Lorem ipsum dolor sit amet, consectetur adipiscing elit.  a est. Suspendisse potenti. Sc lorem pretium, molestie</p>
            <a href="#">Show something cool Â»</a>
        </div>
    </div>
    <div class="row land-job path-item">
        <div class="large-7 columns">
            <div class="circle circle-right right"></div>
        </div>
        <div class="large-5 columns path-text right">
            <h3>Lorem ipsum dolor sit amet, consectetur</h3>
            <p>Something that happened in the past or will happen in the future Lorem ipsum dolor sit amet, consectetur adipiscing elit.  a est. Suspendisse potenti. Sc lorem pretium, molestie</p>
            <a href="#">Show something cool Â»</a>
        </div>
    </div>
    <span class="line hide-for-small"></span>
</div><!---------------------- end of vertical timeline ------------>














<div class="row">
  <div class="large-6 columns small-centered">
    <div class="exp-timeline">
      <div class="container">
        <ul class="items">
          <li>
            <h5>One</h5>
            <div class="active" style="width: 30%">
              <div class="finish"></div>
            </div>
            <div class="inactive" style="width: 70%"></div>
          </li>
          <li>
            <h5>Two</h5>
            <div class="inactive" style="width: 30%"></div>
            <div class="active" style="width: 70%">
              <div class="start"></div>
            </div>
          </li>
          <li>
            <h5>Three</h5>
            <div class="inactive" style="width: 90%"></div>
            <div class="active" style="width: 10%">
              <div class="start"></div>
            </div>
          </li>
        </ul>
      </div>
      <ul class="inline-list dates">
        <li>2014</li>
        <li>2013</li>
        <li>2012</li>
        <li>2011</li>
        <li>2010</li>
      </ul>  
    </div>
    <div class="wrapper">
      <label>Sign Up Now</label>
      <a href="#" class="inside">Plan 1</a>
      <a href="#" class="inside">Plan 2</a>
    </div>
  </div>
</div>