<div class="row">
    <div class="large-12 columns centered-text">
        <h2>Please login to access MORE for FREE!</h2>
    </div>
</div>
<div class="row">
    <div class="large-6 large-offset-3 columns">
        <div ng-include='"forms/login-form.html"'></div>
    </div>
<!--
    <div class="large-6 columns">
        
<div class="row">
    <div class="small-12 large-4 columns benefit">
        <i class="fi-unlock icon"></i>
        <h5> Great online shopping </h5>
        <hr>
        <p>Cupcake ipsum dolor sit. Amet I love liquorice jujubes pudding croissant I love pudding. Apple pie macaroon toffee jujubes pie tart.  </p>
      </div>
      <div class="small-12 large-4 columns benefit">
        <i class="fi-shopping-cart icon"></i>
        <h5> Fast checkout process</h5>
        <hr>
        <p>Cupcake ipsum dolor sit. Amet I love liquorice jujubes pudding croissant I love pudding. Apple pie macaroon toffee jujubes pie tart.  </p>
      </div>
      <div class="small-12 large-4 columns benefit">
        <i class="fi-pricetag-multiple icon"></i>
        <h5> The best deals, everyday</h5>
        <hr>
        <p>Cupcake ipsum dolor sit. Amet I love liquorice jujubes pudding croissant I love pudding. Apple pie macaroon toffee jujubes pie tart.  </p>
      </div>
    </div>

    <div class="row">
    <div class="small-12 large-4 columns benefit">
        <i class="fi-archive icon"></i>
        <h5> Great online shopping </h5>
        <hr>
        <p>Cupcake ipsum dolor sit. Amet I love liquorice jujubes pudding croissant I love pudding. Apple pie macaroon toffee jujubes pie tart.  </p>
      </div>
      <div class="small-12 large-4 columns benefit">
        <i class="fi-checkbox icon"></i>
        <h5> Fast checkout process</h5>
        <hr>
        <p>Cupcake ipsum dolor sit. Amet I love liquorice jujubes pudding croissant I love pudding. Apple pie macaroon toffee jujubes pie tart.  </p>
      </div>
      <div class="small-12 large-4 columns benefit">
        <i class="fi-trophy icon"></i>
        <h5> Get rewards &amp; points</h5>
        <hr>
        <p>Cupcake ipsum dolor sit. Amet I love liquorice jujubes pudding croissant I love pudding. Apple pie macaroon toffee jujubes pie tart.  </p>
      </div>
    </div>
    </div>
    -->

</div>


<section class="benefits">
    <div class="row">
    <div class="large-12 columns centered-text">
        <h3>Creating an account gets you:</h3>
    </div>
    </div>
    <div class="row">
        <div class="small-12 large-4 columns benefit">
        <i class="fi-unlock icon"></i>
        <h5> Great online shopping </h5>
        <hr>
        <p>Cupcake ipsum dolor sit. Amet I love liquorice jujubes pudding croissant I love pudding. Apple pie macaroon toffee jujubes pie tart.  </p>
      </div>
      <div class="small-12 large-4 columns benefit">
        <i class="fi-shopping-cart icon"></i>
        <h5> Fast checkout process</h5>
        <hr>
        <p>Cupcake ipsum dolor sit. Amet I love liquorice jujubes pudding croissant I love pudding. Apple pie macaroon toffee jujubes pie tart.  </p>
      </div>
      <div class="small-12 large-4 columns benefit">
        <i class="fi-pricetag-multiple icon"></i>
        <h5> The best deals, everyday</h5>
        <hr>
        <p>Cupcake ipsum dolor sit. Amet I love liquorice jujubes pudding croissant I love pudding. Apple pie macaroon toffee jujubes pie tart.  </p>
      </div>
    </div>
    <div class="row">
      <div class="small-12 large-4 columns benefit">
        <i class="fi-archive icon"></i>
        <h5> Shop anywhere, anytime </h5>
        <hr>
        <p>Cupcake ipsum dolor sit. Amet I love liquorice jujubes pudding croissant I love pudding. Apple pie macaroon toffee jujubes pie tart.  </p>
      </div>
      <div class="small-12 large-4 columns benefit">
        <i class="fi-checkbox icon"></i>
        <h5> All your favorite brands</h5>
        <hr>
        <p>Cupcake ipsum dolor sit. Amet I love liquorice jujubes pudding croissant I love pudding. Apple pie macaroon toffee jujubes pie tart.  </p>
      </div>
      <div class="small-12 large-4 columns benefit">
        <i class="fi-trophy icon"></i>
        <h5> Get rewards &amp; points</h5>
        <hr>
        <p>Cupcake ipsum dolor sit. Amet I love liquorice jujubes pudding croissant I love pudding. Apple pie macaroon toffee jujubes pie tart.  </p>
      </div>
    </div>
</section>